.filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 8px;
    background: rgba(60, 59, 59, 0.407);
}

.color {
    width: 30px;
    height: 30px;
}

.filter-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}